
section.home-sec-3{
	display: none;
}

.blocks_bottom_menuDropdown.back-products{
	background-position: top right !important;
}

section.product-range-sec-1 .box-content-kanan .klik a{
	text-decoration: none;
}

section.product-range-sec-1 .box-konten-kiri{
	position: relative;
	z-index: 17;
}

section.product-sec-1 .box-content .klik a{
	text-decoration: none;
}