@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Fira Sans Thin'), local('FiraSans-Thin'), url(https://fonts.gstatic.com/s/firasans/v10/va9C4kDNxMZdWfMOD5Vn9LjJYTc.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Fira Sans ExtraLight'), local('FiraSans-ExtraLight'), url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnWKneRhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Fira Sans Light'), local('FiraSans-Light'), url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnPKreRhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(https://fonts.gstatic.com/s/firasans/v10/va9E4kDNxMZdWfMOD5Vvl4jO.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Fira Sans Medium'), local('FiraSans-Medium'), url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnZKveRhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'), url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnSKzeRhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnLK3eRhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Fira Sans ExtraBold'), local('FiraSans-ExtraBold'), url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnMK7eRhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Fira Sans Black'), local('FiraSans-Black'), url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnFK_eRhf_.ttf) format('truetype');
}
html,
body {
  position: relative;
  background: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div {
  font-family: 'Fira Sans', sans-serif;
  margin-bottom: 0;
}
.container {
  max-width: 1487px;
}
.prelative.container {
  max-width: 1260px;
}
.prelative.container2 {
  max-width: 1490px;
  margin: 0 auto;
}
html,
body {
  height: 100%;
}
header.head.headers.homes_head {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 20;
}
header.head.headers {
  position: relative;
  z-index: 100;
  background-color: #fff;
  min-height: 135px;
  width: 100%;
  -webkit-box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.4);
}
header.head.headers .prelatife.container {
  max-width: inherit;
  padding: 0 2rem;
}
header.head.headers .inner-header {
  padding-top: 30px;
  clear: both;
}
header.head.headers .inner-header .bottoms_head_menu ul li a {
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #a9a9a9;
}
header.head.headers .inner-header .bottoms_head_menu ul li a i.fa {
  font-size: 12px;
  color: #d40025;
}
header.head.headers .inner-header .bottoms_head_menu ul li a:hover,
header.head.headers .inner-header .bottoms_head_menu ul li a:focus {
  text-decoration: none;
  color: #000;
}
header.head.headers .inner-header .bottoms_head_menu ul li.list-inline-item:not(:last-child) {
  margin-right: 1.8rem;
}
.fcs-wrapper.outers_fcs_wrapper {
  clear: both;
}
.fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel .carousel-inner .carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel .carousel-caption {
  left: inherit;
  right: inherit;
  left: 0px;
  width: 100%;
  bottom: 25%;
}
.fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel .carousel-caption .bxsl_tx_fcs {
  bottom: 0%;
  max-width: 490px;
}
.fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel .carousel-caption .bxsl_tx_fcs h3 {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  line-height: 1.2;
  display: block;
  margin-bottom: 0.7rem;
}
.fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel .carousel-caption .bxsl_tx_fcs p {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  line-height: 1.4;
  margin-bottom: 0.5rem;
}
.fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel .carousel-caption .bxsl_tx_fcs a.btns_morefcs {
  background-color: transparent;
  border-color: #fff;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel .carousel-caption .bxsl_tx_fcs a.btns_morefcs:hover,
.fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel .carousel-caption .bxsl_tx_fcs a.btns_morefcs:focus {
  background-color: transparent;
  border-color: #fff;
}
.fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel ol.carousel-indicators {
  bottom: 5px;
}
.fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel ol.carousel-indicators li {
  width: 45px;
  height: 7px;
  background-color: #fff;
  cursor: pointer;
}
.fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel ol.carousel-indicators li.active {
  width: 45px;
  height: 7px;
  background-color: #d40025;
  cursor: pointer;
}
.posn_bottoms_carousel_indicat {
  clear: both;
}
section.home-sec-1 {
  padding-top: 62px;
  padding-bottom: 65px;
  clear: both;
}
section.home-sec-1 .innsers_section {
  clear: both;
}
section.home-sec-1 .innsers_section .box-content {
  min-height: inherit;
  background-color: #f4f4f4;
  position: relative;
}
section.home-sec-1 .innsers_section .box-content .image {
  position: relative;
}
section.home-sec-1 .innsers_section .box-content .image img {
  width: 100%;
}
section.home-sec-1 .innsers_section .box-content .inner {
  padding-top: 35px;
  position: relative;
  min-height: 255px;
  padding-bottom: 30px;
}
section.home-sec-1 .innsers_section .box-content .inner .paddings {
  padding: 0 25px;
}
section.home-sec-1 .innsers_section .box-content .inner .paddings h4 {
  color: #c52026;
  font-weight: 600;
  font-size: 22px;
}
section.home-sec-1 .innsers_section .box-content .inner .paddings p {
  color: #6a6a6a;
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding-top: 20px;
}
section.home-sec-1 .innsers_section .box-content .inner .buttons_read {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 0 25px;
  clear: both;
}
section.home-sec-1 .innsers_section .box-content .inner .buttons_read p {
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: #000000;
  display: inline-block;
  vertical-align: middle;
}
section.home-sec-1 .innsers_section .box-content .inner .buttons_read p a {
  text-decoration: none;
  color: #000;
}
section.home-sec-1 .innsers_section .box-content .inner .buttons_read a.rights {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  float: right;
}
section.home-sec-1 .innsers_section .box-content .inner .buttons_read img.arrow {
  display: inline-block;
  float: right;
}
section.home-sec-2 {
  background: url('../images/homesec2.jpg') center center;
  min-height: 532px;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  margin-bottom: 70px;
  padding-left: 15px;
  padding-right: 15px;
}
section.home-sec-2 .container2 {
  vertical-align: middle;
}
section.home-sec-2 .box-content {
  text-align: center;
}
section.home-sec-2 .box-content .title {
  font-size: 31px;
  font-weight: 600;
  color: #ffffff;
  padding-top: 210px;
}
section.home-sec-2 .box-content .title h3 {
  text-shadow: 4px 4px 18px rgba(0, 0, 0, 0.75);
}
section.home-sec-2 .box-content .subtitle {
  padding-top: 15px;
  font-size: 15px;
  color: #e8e8e8;
}
section.home-sec-2 .box-content .subtitle p {
  text-shadow: 4px 4px 18px rgba(0, 0, 0, 0.75);
}
section.home-sec-2 .click {
  padding-top: 55px;
}
section.home-sec-2 .click a {
  text-decoration: none;
  text-decoration-line: underline;
  font-size: 12px;
  color: #ffffff;
  font-weight: 700;
}
section.home-sec-3 {
  background: url('../images/backs_bottom_hm_gradients.jpg') center center;
  min-height: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  vertical-align: middle;
  width: 100%;
  height: auto;
}
section.home-sec-3 .box-content {
  text-align: center;
}
section.home-sec-3 .box-content .our-corporation {
  font-size: 15px;
  font-weight: 600;
  color: #c52026;
}
section.home-sec-3 .box-content .subtitle {
  font-size: 18px;
  color: #606060;
}
section.home-sec-3 .image {
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
section.home-sec-3 .caption {
  color: #606060;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
}
.inners_listcompany ul {
  margin: 0;
}
.inners_listcompany ul li {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin: 0;
}
footer.foot {
  background: #f9f9f9;
  min-height: 200px;
  height: auto;
  clear: both;
}
footer.foot .contain_foot {
  max-width: 1246px;
  clear: both;
}
footer.foot .inners_section {
  clear: both;
}
footer.foot .inners_section .texts_menus ul li.firsts {
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #3b3b3b;
  padding: 0;
  margin-bottom: 10px;
}
footer.foot .inners_section .texts_menus ul li {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #3b3b3b;
  padding: 2px 0px;
}
footer.foot .inners_section .texts_menus ul li a {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #3b3b3b;
}
footer.foot .inners_section .texts_menus ul li a:hover,
footer.foot .inners_section .texts_menus ul li a:focus {
  text-decoration: none;
  color: #000;
}
footer.foot .inners_section .socials_med a {
  background-color: #c9c9c9;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
footer.foot .inners_section .socials_med a i.fa {
  color: #fff;
  font-size: 13px;
  position: relative;
  top: 2px;
}
section.sol_blue-sec-1 {
  padding-top: 30px;
  position: relative;
  padding-bottom: 100px;
}
section.sol_blue-sec-1 .box-konten-kiri {
  background-color: #f4f4f4;
  min-height: 900px;
  padding: 25px;
}
section.sol_blue-sec-1 .box-konten-kiri h5 {
  font-size: 22px;
  font-weight: 600;
  color: #c52026;
  margin-bottom: 25px;
}
section.sol_blue-sec-1 .box-konten-kiri ol {
  padding-left: 0em;
}
section.sol_blue-sec-1 .box-konten-kiri ol li {
  font-size: 15px;
  color: #6a6a6a;
  list-style: none;
}
section.sol_blue-sec-1 .box-konten-kiri ol li a {
  color: #6a6a6a;
}
section.sol_blue-sec-1 .box-konten-kiri ol li.active a {
  color: #6a6a6a;
  font-weight: 600;
}
section.sol_blue-sec-1 h4 {
  font-size: 22px;
  color: #353535;
  font-weight: 600;
  margin-bottom: 20px;
}
section.sol_blue-sec-1 h3 {
  font-size: 45px;
  color: #c52026;
  font-weight: 600;
  margin-bottom: 25px;
}
section.sol_blue-sec-1 p {
  font-size: 15px;
  color: #6a6a6a;
  max-width: 460px;
}
section.sol_blue-sec-1 .email p {
  font-size: 15px;
  color: #6a6a6a;
  margin-bottom: 10px;
}
section.sol_blue-sec-1 .whatsapp {
  font-size: 16px;
  color: #6a6a6a;
  font-weight: 600;
}
section.contact-sec-1 {
  padding-top: 30px;
  position: relative;
  padding-bottom: 100px;
}
section.contact-sec-1 .box-konten-kiri {
  background-color: #f4f4f4;
  min-height: 900px;
  padding: 25px;
}
section.contact-sec-1 .box-konten-kiri h5 {
  font-size: 22px;
  font-weight: 600;
  color: #c52026;
  margin-bottom: 25px;
}
section.contact-sec-1 .box-konten-kiri ol {
  padding-left: 0em;
}
section.contact-sec-1 .box-konten-kiri ol li {
  font-size: 15px;
  color: #6a6a6a;
  list-style: none;
}
section.contact-sec-1 .box-konten-kiri ol li a {
  color: #6a6a6a;
}
section.contact-sec-1 .box-konten-kiri ol li.active a {
  color: #6a6a6a;
  font-weight: 600;
}
section.contact-sec-1 h4 {
  font-size: 22px;
  color: #353535;
  font-weight: 600;
  margin-bottom: 20px;
}
section.contact-sec-1 h3 {
  font-size: 45px;
  color: #c52026;
  font-weight: 600;
  margin-bottom: 25px;
}
section.contact-sec-1 p {
  font-size: 15px;
  color: #6a6a6a;
}
section.contact-sec-1 .inner-content {
  padding-top: 20px;
}
section.contact-sec-1 .inner-content h3 {
  font-size: 18px;
  color: #6a6a6a;
  font-weight: 700;
  margin-bottom: 5px;
}
section.contact-sec-1 .inner-content h4 {
  font-size: 18px;
  color: #c52026;
  font-weight: 300;
  margin-bottom: 5px;
}
section.contact-sec-1 .inner-content p {
  font-size: 15px;
  color: #6a6a6a;
  font-weight: 300;
  margin-bottom: 5px;
}
section.contact-sec-1 .email p {
  font-size: 15px;
  color: #6a6a6a;
  margin-bottom: 10px;
}
section.contact-sec-1 .whatsapp {
  font-size: 16px;
  color: #6a6a6a;
  font-weight: 600;
}
section.contact-sec-1 .image-bottom {
  padding-bottom: 90px;
}
section.contact-sec-1 .content-bottom h5 {
  font-size: 30px;
  color: #c52026;
  font-weight: 500;
}
section.contact-sec-1 .content-bottom h3 {
  padding-top: 40px;
  font-size: 18px;
  color: #6a6a6a;
  font-weight: 700;
  margin-bottom: 5px;
}
section.contact-sec-1 .content-bottom h4 {
  font-size: 18px;
  color: #c52026;
  font-weight: 300;
}
section.contact-sec-1 .content-bottom p {
  font-size: 15px;
  color: #6a6a6a;
  font-weight: 300;
}
section.cerf-sec-1.block_section_faq,
section.about-location-sec-1 {
  padding-top: 30px;
  position: relative;
  padding-bottom: 100px;
}
section.cerf-sec-1.block_section_faq .box-konten-kiri,
section.about-location-sec-1 .box-konten-kiri {
  background-color: #f4f4f4;
  min-height: 900px;
  padding: 25px;
}
section.cerf-sec-1.block_section_faq .box-konten-kiri h5,
section.about-location-sec-1 .box-konten-kiri h5 {
  font-size: 22px;
  font-weight: 600;
  color: #c52026;
  margin-bottom: 25px;
}
section.cerf-sec-1.block_section_faq .box-konten-kiri ol,
section.about-location-sec-1 .box-konten-kiri ol {
  padding-left: 0em;
}
section.cerf-sec-1.block_section_faq .box-konten-kiri ol li,
section.about-location-sec-1 .box-konten-kiri ol li {
  font-size: 15px;
  color: #6a6a6a;
  list-style: none;
}
section.cerf-sec-1.block_section_faq .box-konten-kiri ol li a,
section.about-location-sec-1 .box-konten-kiri ol li a {
  color: #6a6a6a;
}
section.cerf-sec-1.block_section_faq .box-konten-kiri ol li.active a,
section.about-location-sec-1 .box-konten-kiri ol li.active a {
  color: #6a6a6a;
  font-weight: 600;
}
section.cerf-sec-1.block_section_faq h4,
section.about-location-sec-1 h4 {
  font-size: 22px;
  color: #353535;
  font-weight: 600;
  margin-bottom: 20px;
}
section.cerf-sec-1.block_section_faq h3,
section.about-location-sec-1 h3 {
  font-size: 45px;
  color: #c52026;
  font-weight: 600;
  margin-bottom: 25px;
}
section.cerf-sec-1.block_section_faq p,
section.about-location-sec-1 p {
  font-size: 15px;
  color: #6a6a6a;
}
section.cerf-sec-1.block_section_faq .email p,
section.about-location-sec-1 .email p {
  font-size: 15px;
  color: #6a6a6a;
  margin-bottom: 10px;
}
section.cerf-sec-1.block_section_faq .whatsapp,
section.about-location-sec-1 .whatsapp {
  font-size: 16px;
  color: #6a6a6a;
  font-weight: 600;
}
section.cerf-sec-1.block_section_faq .title,
section.about-location-sec-1 .title {
  padding-top: 50px;
}
section.cerf-sec-1.block_section_faq .title p,
section.about-location-sec-1 .title p {
  font-size: 16px;
  font-weight: 700;
  color: #6a6a6a;
}
section.cerf-sec-1.block_section_faq .subtitle,
section.about-location-sec-1 .subtitle {
  padding-bottom: 30px;
}
section.cerf-sec-1.block_section_faq .subtitle p,
section.about-location-sec-1 .subtitle p {
  font-size: 18px;
  font-weight: 300;
  color: #c52026;
}
section.cerf-sec-1.block_section_faq .alamat,
section.about-location-sec-1 .alamat {
  padding-bottom: 30px;
}
section.cerf-sec-1.block_section_faq .alamat p,
section.about-location-sec-1 .alamat p {
  font-size: 15px;
  font-weight: 300;
  color: #6a6a6a;
}
section.cerf-sec-1.block_section_faq .alamat a,
section.about-location-sec-1 .alamat a {
  font-size: 15px;
  font-weight: 700;
  color: #6a6a6a;
}
section.cerf-sec-1.block_section_faq .alamat a i,
section.about-location-sec-1 .alamat a i {
  color: #ed1f24;
}
section.cerf-sec-1.block_section_faq .tel p,
section.about-location-sec-1 .tel p {
  font-size: 15px;
  font-weight: 300;
  color: #6a6a6a;
}
section.cerf-sec-1.block_section_faq .sales-tit,
section.about-location-sec-1 .sales-tit {
  padding-top: 30px;
}
section.cerf-sec-1.block_section_faq .sales-tit p,
section.about-location-sec-1 .sales-tit p {
  font-size: 18px;
  color: #6a6a6a;
  font-weight: 700;
}
section.cerf-sec-1.block_section_faq .work-loc p,
section.about-location-sec-1 .work-loc p {
  font-size: 15px;
  color: #6a6a6a;
  font-weight: 300;
}
section.cerf-sec-1.block_section_faq .job-title,
section.about-location-sec-1 .job-title {
  padding-top: 20px;
}
section.cerf-sec-1.block_section_faq .job-title p,
section.about-location-sec-1 .job-title p {
  font-size: 15px;
  color: #6a6a6a;
  font-weight: 700;
}
section.cerf-sec-1.block_section_faq ul,
section.about-location-sec-1 ul {
  padding-top: 10px;
}
section.cerf-sec-1.block_section_faq ul li,
section.about-location-sec-1 ul li {
  padding-top: 5px;
  font-size: 14px;
  color: #333333;
}
section.cerf-sec-1.block_section_faq .row.no-gutters .content,
section.about-location-sec-1 .row.no-gutters .content {
  position: relative;
  display: table;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
section.cerf-sec-1.block_section_faq .row.no-gutters .content .content-inner,
section.about-location-sec-1 .row.no-gutters .content .content-inner {
  vertical-align: middle;
  display: table-cell;
  height: 100%;
  padding-right: 20px;
}
section.cerf-sec-1.block_section_faq .row.no-gutters .content .content-inner .title,
section.about-location-sec-1 .row.no-gutters .content .content-inner .title {
  margin-bottom: 20px;
}
section.cerf-sec-1.block_section_faq .row.no-gutters .content .content-inner .title p,
section.about-location-sec-1 .row.no-gutters .content .content-inner .title p {
  font-size: 22px;
  color: #353535;
}
section.cerf-sec-1.block_section_faq .row.no-gutters .content .content-inner .isi p,
section.about-location-sec-1 .row.no-gutters .content .content-inner .isi p {
  font-size: 15px;
  color: #6a6a6a;
}
section.cerf-sec-1.block_section_faq .content-inner-quality,
section.about-location-sec-1 .content-inner-quality {
  padding-top: 30px;
}
section.cerf-sec-1.block_section_faq .content-inner-quality h4,
section.about-location-sec-1 .content-inner-quality h4 {
  font-size: 16px;
  color: #6a6a6a;
  font-weight: 700;
  margin-bottom: 0;
}
section.cerf-sec-1.block_section_faq .content-inner-quality ul li,
section.about-location-sec-1 .content-inner-quality ul li {
  font-size: 16px;
  color: #6a6a6a;
  font-weight: 400;
}
.our-cerf-logo .title-logosss h3 {
  font-size: 22px;
  color: #353535;
}
.hr-garis-about-quality {
  background: #e0e0e0;
  height: 1px;
  width: 100%;
  margin: 40px 0;
}
section.sol-cap-sec-1 {
  padding-top: 30px;
  position: relative;
  padding-bottom: 65px;
}
section.sol-cap-sec-1 .box-konten-kiri {
  background-color: #f4f4f4;
  min-height: 1075px;
  padding: 25px;
}
section.sol-cap-sec-1 .box-konten-kiri h5 {
  font-size: 22px;
  font-weight: 600;
  color: #c52026;
  margin-bottom: 25px;
}
section.sol-cap-sec-1 .box-konten-kiri ol {
  padding-left: 0em;
}
section.sol-cap-sec-1 .box-konten-kiri ol li {
  font-size: 15px;
  color: #6a6a6a;
  list-style: none;
}
section.sol-cap-sec-1 .box-konten-kiri ol li a {
  color: #6a6a6a;
  text-decoration: none;
}
section.sol-cap-sec-1 .box-konten-kiri ol li.active a {
  font-weight: 600;
}
section.sol-cap-sec-1 h4 {
  font-size: 22px;
  color: #353535;
  font-weight: 600;
  margin-bottom: 20px;
}
section.sol-cap-sec-1 h3 {
  font-size: 45px;
  color: #c52026;
  font-weight: 600;
  margin-bottom: 10px;
}
section.sol-cap-sec-1 .content-inner {
  background-color: #f4f4f4;
  position: relative;
  display: table;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
section.sol-cap-sec-1 .content-inner .innersssss {
  vertical-align: middle;
  display: table-cell;
  height: 100%;
  padding: 0 30px;
}
section.sol-cap-sec-1 .content-inner .innersssss h5 {
  font-weight: 700;
  font-size: 18px;
  color: #c52026;
  margin-bottom: 25px;
}
section.sol-cap-sec-1 .content-inner .innersssss p {
  font-size: 15px;
  color: #6a6a6a;
  max-width: 502px;
}
section.sol-cap-sec-1 .email p {
  font-size: 15px;
  color: #6a6a6a;
  margin-bottom: 10px;
}
section.sol-cap-sec-1 .whatsapp {
  font-size: 16px;
  color: #6a6a6a;
  font-weight: 600;
}
section.cerf-sec-1 .title {
  padding: 30px;
  background-color: #f4f4f4;
  min-height: 965px;
}
section.cerf-sec-1 .title h5 {
  font-weight: 600;
  font-size: 22px;
  color: #c52026;
}
section.cerf-sec-1 .box-content h3 {
  color: #c52026;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 35px;
}
section.cerf-sec-1 .box-content p {
  font-size: 15px;
  color: #6a6a6a;
}
section.cerf-sec-1 {
  padding-bottom: 65px;
}
section.cerf-sec-1 .title {
  padding: 30px;
  background-color: #f4f4f4;
  min-height: 965px;
}
section.cerf-sec-1 .title h5 {
  font-weight: 600;
  font-size: 22px;
  color: #c52026;
  margin-bottom: 25px;
}
section.cerf-sec-1 .title ol li {
  list-style: none;
}
section.cerf-sec-1 .box-content h3 {
  color: #c52026;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 35px;
}
section.cerf-sec-1 .box-content p {
  font-size: 15px;
  color: #6a6a6a;
  margin-bottom: 38px;
}
section.cerf-sec-1 .accordion .card {
  margin-bottom: 0.5rem;
}
section.cerf-sec-1 .accordion .card-header {
  background-color: transparent;
}
section.breadcrumb-det {
  padding: 2.5rem 0 0.3rem;
  margin-bottom: 2.5rem;
}
section.breadcrumb-det .prelative.container {
  border-bottom: 1px solid #f4f4f4;
}
section.breadcrumb-det .prelative.container ol.breadcrumb {
  background-color: transparent;
  margin: 0;
  padding: 0;
}
section.breadcrumb-det .prelative.container ol.breadcrumb li.breadcrumb-item a {
  color: #6a6a6a;
  font-size: 15px;
  text-decoration: none;
}
section.breadcrumb-det .prelative.container ol.breadcrumb li.breadcrumb-item.active a {
  color: #232323;
  font-size: 15px;
  text-decoration: none;
}
section.breadcrumb-det .prelative.container .block-back-link a {
  font-size: 15px;
  color: #000000;
  text-decoration: none;
}
.blocks_bottom_menuDropdown {
  width: 100%;
  min-height: inherit;
  height: auto;
  padding-top: 7rem;
  padding-bottom: 4rem;
  background-color: #eeeeee;
  -moz-transition: opacity ease-in-out 0.7s;
  -o-transition: opacity ease-in-out 0.7s;
  -webkit-transition: opacity ease-in-out 0.7s;
  transition: opacity ease-in-out 0.7s;
  display: none;
  position: absolute;
  top: 135px;
  left: 0px;
  bottom: inherit;
  z-index: 60;
}
.blocks_bottom_menuDropdown .inners_mndropdown {
  max-width: 1145px;
  margin: 0 auto;
  position: relative;
  z-index: 35;
  clear: both;
}
.blocks_bottom_menuDropdown .inners_mndropdown ul {
  margin: 0;
}
.blocks_bottom_menuDropdown .inners_mndropdown ul li {
  font-family: 'Fira Sans', sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #404040;
  padding: 0.2rem 0;
}
.blocks_bottom_menuDropdown .inners_mndropdown ul li a {
  font-family: 'Fira Sans', sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #404040;
}
.blocks_bottom_menuDropdown .inners_mndropdown ul li a:hover,
.blocks_bottom_menuDropdown .inners_mndropdown ul li a:focus {
  color: #000;
  text-decoration: none;
}
.blocks_bottom_menuDropdown .inners_mndropdown span.in_title {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Fira Sans', sans-serif;
  color: #d40025;
  display: block;
  margin-bottom: 1.5rem;
}
.blocks_bottom_menuDropdown .inners_mndropdown.menu_small ul li {
  font-weight: 400;
  padding: 0.15rem 0;
}
.blocks_bottom_menuDropdown .inners_mndropdown.menu_small ul li a {
  font-weight: 400;
}
.blocks_bottom_menuDropdown .inners_mndropdown.menu_small ul li.firsts {
  font-weight: 700;
}
.blocks_bottom_menuDropdown .inners_mndropdown.menu_small ul li.firsts a {
  font-weight: 700;
}
.blocks_bottom_menuDropdown.views {
  display: block;
  opacity: 1;
  -moz-transition: opacity ease-in-out 0.7s;
  -o-transition: opacity ease-in-out 0.7s;
  -webkit-transition: opacity ease-in-out 0.7s;
  transition: opacity ease-in-out 0.7s;
  z-index: 2;
}
.blocks_bottom_menuDropdown.back-about {
  background: #eeeeee url('../images/backs_subproduct_down_05.jpg') bottom right no-repeat;
}
.blocks_bottom_menuDropdown.back-products {
  background: #eeeeee url('../images/backs_subproduct_down_02.jpg') bottom right no-repeat;
}
.inner-rights_product-range .row.featured {
  margin-bottom: 1rem;
}
.inner-rights_product-range h6 {
  display: block;
  padding-top: 0.8rem;
  padding-bottom: 0.4rem;
  font-size: 19px;
  font-weight: 500;
  color: #4d4d4d;
}
ul.lefts_submenu_product {
  margin: 0;
  margin-bottom: 0;
}
ul.lefts_submenu_product li {
  padding: 0.2rem 0;
}
ul.lefts_submenu_product li a {
  font-size: 15px;
  font-weight: 400;
  color: #6a6a6a;
}
ul.lefts_submenu_product li a:hover,
ul.lefts_submenu_product li a:focus {
  text-decoration: none;
  color: #232323;
}
ul.lefts_submenu_product li ul.dropdown-menu {
  display: none;
  position: relative;
  top: inherit;
  left: inherit;
  background-color: transparent;
  box-shadow: none;
  border: 0px;
  float: none;
  padding: 0;
  margin: 0;
  padding-left: 0.65rem;
}
ul.lefts_submenu_product li ul.dropdown-menu li {
  padding: 0.1rem 0;
}
ul.lefts_submenu_product li ul.dropdown-menu li a {
  font-size: 14px;
  color: #9f9f9f;
}
ul.lefts_submenu_product li ul.dropdown-menu li a:hover,
ul.lefts_submenu_product li ul.dropdown-menu li a:focus {
  color: #232323;
}
ul.lefts_submenu_product li:hover > ul.dropdown-menu,
ul.lefts_submenu_product li:focus > ul.dropdown-menu {
  display: block;
}
ul.lefts_submenu_product li.active a {
  color: #232323;
}
section.cerf-sec-1.block_section_faq .title {
  min-height: 600px;
}
.blocks_faq_listdata .card {
  border-radius: 0px;
}
.blocks_faq_listdata .card .card-header {
  font-size: 19px;
  font-weight: 500;
  color: #4d4d4d;
  border-radius: 0px;
}
.blocks_faq_listdata .card .card-header h2 {
  font-size: 19px;
  font-weight: 500;
  color: #4d4d4d;
  padding: 0px;
}
.blocks_faq_listdata .card .card-header h2 button {
  color: #4d4d4d;
  padding: 0px;
}
.blocks_faq_listdata .card .card-body {
  border-radius: 0px;
}
.blocks_faq_listdata .card .card-body ul li,
.blocks_faq_listdata .card .card-body p {
  font-size: 14px;
  font-weight: 300;
  color: #6a6a6a;
}
@media (max-width: 1400px) {
  section.inside-cover {
    min-height: 550px !important;
    background-size: cover;
  }
  section.inside-cover .text {
    padding-top: 245px !important;
  }
}
section.product-sec-1 {
  padding-top: 30px;
  position: relative;
  padding-bottom: 80px;
}
section.product-sec-1 .row.feature-data {
  margin-bottom: 3em;
}
section.product-sec-1 .box-konten-kiri {
  background-color: #f4f4f4;
  min-height: 1900px;
  padding: 25px;
}
section.product-sec-1 .box-konten-kiri h5 {
  font-size: 22px;
  font-weight: 600;
  color: #c52026;
  margin-bottom: 25px;
}
section.product-sec-1 .box-konten-kiri ol {
  margin-bottom: 0em;
  padding-left: 0em;
}
section.product-sec-1 .box-konten-kiri ol li {
  font-size: 15px;
  color: #6a6a6a;
  list-style: none;
  padding-left: 1em;
}
section.product-sec-1 h3 {
  font-size: 45px;
  color: #c52026;
  font-weight: 600;
  margin-bottom: 40px;
}
section.product-sec-1 img {
  margin-bottom: 25px;
}
section.product-sec-1 p {
  font-size: 15px;
  font-weight: 300;
  color: #6a6a6a;
  padding-bottom: 20px;
}
section.product-sec-1 .box-content {
  padding: 0px 0 50px;
}
section.product-sec-1 .box-content .title p {
  font-size: 20px;
  color: #c52026;
  font-weight: 600;
  padding-bottom: 20px;
}
section.product-sec-1 .box-content .subtitle p {
  font-weight: 300;
  font-size: 15px;
  color: #6a6a6a;
  max-width: 296px;
}
section.product-sec-1 .box-content .klik a {
  text-decoration: underline;
}
section.product-sec-1 .box-content .klik a p {
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 0px;
}
section.product-sec-1 .email p {
  font-size: 15px;
  color: #6a6a6a;
  margin-bottom: 10px;
}
section.product-sec-1 .whatsapp {
  font-size: 16px;
  color: #6a6a6a;
  font-weight: 600;
}
section.product-range-sec-1 {
  padding-top: 30px;
  position: relative;
  padding-bottom: 100px;
}
section.product-range-sec-1 .box-konten-kiri {
  background-color: #f4f4f4;
  min-height: 1740px;
  padding: 25px;
}
section.product-range-sec-1 .box-konten-kiri h5 {
  font-size: 22px;
  font-weight: 600;
  color: #c52026;
  margin-bottom: 25px;
}
section.product-range-sec-1 .box-konten-kiri ol {
  margin-bottom: 0em;
  padding-left: 0em;
}
section.product-range-sec-1 .box-konten-kiri ol li {
  font-size: 15px;
  color: #6a6a6a;
  list-style: none;
  padding-left: 1em;
}
section.product-range-sec-1 h3 {
  font-size: 45px;
  color: #c52026;
  font-weight: 600;
  margin-bottom: 35px;
}
section.product-range-sec-1 img {
  margin-bottom: 25px;
}
section.product-range-sec-1 p {
  font-size: 15px;
  font-weight: 300;
  color: #6a6a6a;
}
section.product-range-sec-1 .box-content-kiri {
  padding-top: 40px;
}
section.product-range-sec-1 .box-content-kanan {
  padding-top: 50px;
}
section.product-range-sec-1 .box-content-kanan .title p {
  font-size: 20px;
  color: #c52026;
  font-weight: 600;
  padding-bottom: 20px;
}
section.product-range-sec-1 .box-content-kanan .subtitle p {
  font-weight: 300;
  font-size: 15px;
  color: #6a6a6a;
  max-width: 626px;
}
section.product-range-sec-1 .box-content-kanan .klik a {
  text-decoration: underline;
}
section.product-range-sec-1 .box-content-kanan .klik a p {
  font-size: 15px;
  font-weight: 700;
}
section.product-range-sec-1 .email p {
  font-size: 15px;
  color: #6a6a6a;
  margin-bottom: 10px;
}
section.product-range-sec-1 .whatsapp {
  font-size: 16px;
  color: #6a6a6a;
  font-weight: 600;
}
section.inside-cover {
  background: url('../images/about.jpg');
  min-height: 835px;
}
section.inside-cover .text {
  text-align: center;
  padding-top: 325px;
}
section.inside-cover .text h4 {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}
section.inside-cover .text h3 {
  padding-top: 10px;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  section.home-sec-1 .innsers_section .box-content {
    margin-top: 30px;
  }
  section.home-sec-1 .innsers_section .box-content .inner {
    padding-top: 25px;
    min-height: 200px;
  }
  section.home-sec-2 .box-content .title h3 {
    font-size: 25px;
  }
  section.home-sec-3 {
    padding: 0 !important;
  }
  .text-right.socials_med {
    text-align: left !important;
  }
  section.breadcrumb-det ol.breadcrumb li.breadcrumb-item a,
  section.breadcrumb-det ol.breadcrumb li.breadcrumb-item.active a,
  section.breadcrumb-det .block-back-link a {
    font-size: 13px;
  }
  section.breadcrumb-det .block-back-link a {
    top: -25px;
    position: relative;
  }
  section.breadcrumb-det {
    margin-bottom: 0.5rem;
  }
  section.breadcrumb-det .prelative.container .row {
    margin-bottom: -25px;
  }
  section.product-sec-1 .box-konten-kiri,
  section.sol_blue-sec-1 .box-konten-kiri,
  section.sol-cap-sec-1 .box-konten-kiri {
    min-height: 0;
  }
  section.product-sec-1 h3 {
    font-size: 33px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  section.product-sec-1 img {
    margin-bottom: 15px;
  }
  section.product-sec-1 .row.feature-data {
    margin-bottom: 1em;
  }
  section.product-sec-1 .box-content .title p,
  section.product-sec-1 .box-content .subtitle p {
    padding-bottom: 10px;
  }
  section.product-sec-1 {
    padding-bottom: 30px;
  }
  section.sol_blue-sec-1 h4 {
    margin-top: 30px;
  }
  section.sol_blue-sec-1 h3 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  section.sol_blue-sec-1 .whatsapp {
    margin-bottom: 30px;
  }
  section.sol_blue-sec-1 {
    padding-bottom: 50px;
  }
  section.sol-cap-sec-1 h4 {
    margin-top: 30px;
  }
  section.sol-cap-sec-1 h3 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  section.sol-cap-sec-1 .content-inner {
    padding: 20px;
  }
  header.head.headers {
    min-height: 0;
  }
  nav.navbar.navbar-expand-lg.navbar-light.bg-primary img.img.img-fluid {
    width: 70%;
  }
  .bg-primary {
    background-color: transparent !important;
  }
  .navbar-light .navbar-toggler {
    border: 0;
  }
  .dropdown-menu {
    border: 0;
    margin: 0;
  }
  .dropdown-item {
    padding: 0.25rem 1rem;
  }
  section.breadcrumb-det {
    padding: 1.5rem 0 0.3rem;
  }
  section.cerf-sec-1 .title {
    padding: 20px;
    background-color: #f4f4f4;
    min-height: auto;
  }
  section.cerf-sec-1 .title h5 {
    font-weight: 600;
    font-size: 22px;
    color: #c52026;
    margin-bottom: 0px;
  }
  section.cerf-sec-1 .box-content h3 {
    color: #c52026;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  section.cerf-sec-1 .box-content p {
    margin-bottom: 15px;
  }
  footer.foot .inners_section .texts_menus ul li.firsts {
    margin-top: 10px;
  }
  .fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel .carousel-caption {
    padding-top: 50px;
    position: relative;
    left: inherit;
    bottom: inherit;
    background: #d1cdc2;
    background: linear-gradient(90deg, #d1cdc2 0%, #b2aea5 100%);
  }
  .fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel .carousel-caption .bxsl_tx_fcs h5 br {
    display: none;
  }
  .fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel .carousel-caption .bxsl_tx_fcs h5 {
    font-size: 1.3rem;
  }
  .fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel .carousel-caption .bxsl_tx_fcs p {
    font-size: 0.9rem;
  }
  .fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel .carousel-caption {
    padding-bottom: 3rem;
  }
  .fcs-wrapper.outers_fcs_wrapper #myCarousel_home.carousel .carousel-indicators {
    bottom: 0px;
  }
  .bxsl_tx_fcs .col-md-60.mx-auto.pt-3.text-left {
    padding-top: 0 !important;
  }
  section.home-sec-1 {
    padding-top: 0;
  }
  section.home-sec-2 .box-content .subtitle {
    font-size: 13px;
  }
  header.head.headers.homes_head {
    position: fixed;
  }
  section.cerf-sec-1.block_section_faq .title {
    min-height: auto;
    margin-bottom: 20px;
  }
}
section.about-location-sec-1 .box-konten-kiri ol li,
section.cerf-sec-1.block_section_faq .box-konten-kiri ol li,
section.sol_blue-sec-1 .box-konten-kiri ol li {
  margin-bottom: 7px;
}
ul.list-unstyled.lefts_submenu_product li.dropdown.active a {
  font-weight: 700;
}
ul.lefts_submenu_product li ul.dropdown-menu {
  display: block;
}
section.bawah-slide {
  background: #ecf0f3;
}
section.bawah-slide .prelative.container {
  max-width: 838px;
  padding: 135px 0;
}
section.bawah-slide .prelative.container .row .box-content a {
  text-decoration: none;
}
section.bawah-slide .prelative.container .row .box-content a .image {
  background: #c2c5c7;
  width: 121px;
  height: 121px;
  display: table;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
}
section.bawah-slide .prelative.container .row .box-content a .image .inners {
  display: table-cell;
  margin: 0 auto;
  vertical-align: middle;
  width: auto;
  height: auto;
}
section.bawah-slide .prelative.container .row .box-content a p {
  font-size: 20px;
  font-weight: 500;
  color: #474747;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
}
section.bawah-slide .prelative.container .row .box-content a:hover .image {
  background: #c52026;
}
section.bawah-slide .prelative.container .row .box-content a:hover p {
  color: #c52026;
}
/*# sourceMappingURL=styles.css.map */